{% extends "base.html" %}

{% block content %}
<h3>Songs in Album: {{ album.title }}</h3>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Duration</th>
            <th>Total Plays</th>
            <th>Total Downloads</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.duration }} minutes</td>
            <td>{{ song.total_plays }}</td>
            <td>{{ song.total_downloads }}</td>
            <td>
                <a href="{% url 'label_delete_song' song.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'manage_label_albums_songs' %}">Back to Albums</a>
{% endblock %}
