{% extends 'base.html' %}

{% block meta %}
{% include 'navbar_pengguna.html' %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">  
{% endblock meta %}

{% block content %}
<body style="background-color: #181414; display: flex; justify-content: center; align-items: center; font-family: 'Montserrat', sans-serif; padding-top: 70px;">
    <a href="#" onclick="window.history.back();" class="kuning-back-btn"><i class="fas fa-arrow-left"></i> Back</a>
    <div class="container" style="width: 600px; height: 520px; background: #181414; border-radius: 8px; box-sizing: border-box; box-shadow: 0 0 30px rgba(0, 0, 0, 1); display: flex; justify-content: center; align-items: center;">        
        <div class="col" style="width: 324px; flex-basis: 50%; color: white; display: flex; flex-direction: column; align-items: center;">
            <h1 style="width: 324px; font-size: 28px; text-align: center; padding-bottom: 5%; margin-bottom: 24px">Pembayaran Paket</h1>
            <div class="col" style="width: 324px; flex-basis: 50%; color: white; display: flex; flex-direction: column; text-align: left;">
                <div class="col" style="flex-basis: 50%; color: white; margin-bottom: 24px;">
                    <h5 style="margin-bottom: 8px; font-size: 16px;">Jenis</h5>
                    <h3 style="color: #4070F4; font-size: 20px;">1 Bulan</h3>
                </div>
                <div class="col" style="flex-basis: 50%; color: white; margin-bottom: 24px;">
                    <h5 style="margin-bottom: 8px; font-size: 16px;">Harga</h5>
                    <h3 style="color: #4070F4;font-size: 20px;">Rp49.000</h3>
                </div>
                <div class="col" style="flex-basis: 50%; color: white;">
                    <form id="paymentForm" action="{% url 'kuning:subscribe_history' %}" onsubmit="return validateForm()">
                        <label for="metode-pembayaaran" style="margin-bottom: 8px; font-size: 16px; font-weight: 600;">Metode Pembayaran</label><br>
                        <select id="metode-pembayaaran" name="payment_method" style="margin-bottom: 24px; width: 324px; height: 48px; border-radius: 8px; padding-left: 4%; color: white; background-color: transparent;" required>
                            <option value="" disabled selected>Pilih Metode Pembayaran</option>
                            <option value="transfer-bank">Transfer Bank</option>
                            <option value="kartu-kredit">Kartu Kredit</option>
                            <option value="e-wallet">E-Wallet</option>
                        </select>
                        <input type="submit" id="submitButton" value="Submit" style="margin-top: 24px; width: 324px; height: 48px; border-radius: 25px; border: none; color: white; background-color: #4070F4; font-size: 16px; font-weight: 600;" disabled>
                    </form>
                </div>
            </div>
        </div>
    </div>
        <script>
    function validateForm() {
        var paymentMethod = document.getElementById('metode-pembayaaran').value;
        if (paymentMethod === '') {
            alert('Pilih metode pembayaran terlebih dahulu.');
            return false;
        }
        return true;
    }

    document.getElementById('metode-pembayaaran').addEventListener('change', function() {
        var submitButton = document.getElementById('submitButton');
        if (this.value !== '') {
            submitButton.disabled = false;
        } else {
            submitButton.disabled = true;
        }
    });
</script>
</body>

<style>
    .kuning-back-btn {
        position: absolute;
        top: 110px;
        left: 8vw;
        text-decoration: none;
        color: white;
        z-index: 999;
    }
</style>
{% endblock content %}