<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Langganan Paket</title>
    </head>
    <body style="background-color: #181414; display: flex; justify-content: center; align-items: center;">
        <div class="container" style="width: 600px; height: 520px; background: #181414; border-radius: 8px; padding-left: 8%; padding-right: 8%; box-sizing: border-box; box-shadow: 0 0 30px rgba(0, 0, 0, 1);">
            <div class="col" style="flex-basis: 50%; color: white; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; display: flex; flex-direction: column; align-items: center;">
                <div class="col" style="flex-basis: 50%; color: white; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                    <h1 style="font-size: 28px; text-align: center; padding-top: 10%; padding-bottom: 5%;">Pembayaran Paket</h1>
                    <div class="col" style="flex-basis: 50%; color: white; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                        <h5 style="margin-bottom: 8px; font-size: 16px;">Jenis</h5>
                        <h3 style="color: #109CFC; margin-top: 8px; font-size: 20px;">1 Bulan</h3>
                    </div>
                    <div class="col" style="flex-basis: 50%; color: white; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
                        <h5 style="margin-bottom: 8px; font-size: 16px;">Harga</h5>
                        <h3 style="color: #109CFC; margin-top: 8px; font-size: 20px;">Rp49.000</h3>
                    </div>
                    <div class="col" style="flex-basis: 50%; color: white; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; margin-top: 32px;">
                        <form id="paymentForm" action="{% url 'kuning:subscribe_history' %}" onsubmit="return validateForm()">
                            <label for="metode-pembayaaran" style="margin-bottom: 8px; font-size: 16px; font-weight: 600;">Metode Pembayaran</label><br>
                            <select id="metode-pembayaaran" name="payment_method" style="margin-top: 8px; margin-bottom: 24px; width: 324px; height: 48px; border-radius: 8px; padding-left: 4%; color: white; background-color: transparent;" required>
                                <option value="" disabled selected>Pilih Metode Pembayaran</option>
                                <option value="transfer-bank">Transfer Bank</option>
                                <option value="kartu-kredit">Kartu Kredit</option>
                                <option value="e-wallet">E-Wallet</option>
                            </select>
                            <input type="submit" id="submitButton" value="Submit" style="margin-top: 24px; width: 324px; height: 48px; border-radius: 25px; border: none; color: white; background-color: #109CFC; font-size: 16px; font-weight: 600;" disabled>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <script>
        function validateForm() {
            var paymentMethod = document.getElementById('metode-pembayaaran').value;
            if (paymentMethod === '') {
                alert('Pilih metode pembayaran terlebih dahulu.');
                return false;
            }
            return true;
        }

        document.getElementById('metode-pembayaaran').addEventListener('change', function() {
            var submitButton = document.getElementById('submitButton');
            if (this.value !== '') {
                submitButton.disabled = false;
            } else {
                submitButton.disabled = true;
            }
        });
    </script>
    </body>
</html>