{% extends 'base.html' %}

{% block meta %}
{% include 'navbar_pengguna.html' %}
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">  
{% endblock meta %}

{% block content %}
<body style="background-color: #181414; display: flex; justify-content: center; align-items: center; font-family: 'Montserrat', sans-serif; padding-top: 70px;">
    <a href="#" onclick="window.history.back();" class="kuning-back-btn"><i class="fas fa-arrow-left"></i> Back</a>
    <div class="container" style="width: 600px; height: 520px; background: #181414; border-radius: 8px; box-sizing: border-box; box-shadow: 0 0 30px rgba(0, 0, 0, 1); display: flex; justify-content: center; align-items: center;">        
        <div class="col" style="width: 324px; flex-basis: 50%; color: white; display: flex; flex-direction: column; align-items: center;">
            <h1 style="width: 324px; font-size: 28px; text-align: center; padding-bottom: 5%; margin-bottom: 24px">Register</h1>
            <div class="col" style="width: 324px; flex-basis: 50%; color: white; display: flex; flex-direction: column; text-align: left;">
                <div class="col" style="flex-basis: 50%; color: white; margin-bottom: 24px;">
                    <a href="{% url 'main:register' %}" style="text-decoration: none; color: #4070F4;">
                        <button class="kuning-btn">Pengguna</button>
                    </a> 
                </div>
                <div class="col" style="flex-basis: 50%; color: white; margin-bottom: 24px;">
                    <a href="{% url 'main:register' %}" style="text-decoration: none; color: #4070F4;">
                        <button class="kuning-btn">Label</button>
                    </a> 
                </div>
                <div style="flex-direction: row; display: flex; align-items: center; justify-content: center;">
                    <p style="margin-right: 12px;">Sudah punya akun?</p>
                    <a href="{% url 'main:login' %}" style="text-decoration: none; color: #4070F4;">
                        <p><strong>Log in</strong></p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

<style>
    .kuning-back-btn {
        position: absolute;
        top: 110px;
        left: 8vw;
        text-decoration: none;
        color: white;
        z-index: 999;
    }
    .kuning-btn {
        width: 100%;
        height: 55px;
        background-color: #4070F4;
        color: white;
        border-radius: 25px;
        border: none;
    }
</style>
{% endblock content %}